<footer class="text-muted">
    <hr>
    <div class="container">
        <p class="profile"> COPYRIGHT 2019</p>
        <div class="login-button">
            <a href="/login" class="text-muted ">Log in</a>
          </div>
    </div>
</footer>


<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
var $grid = $('.grid').isotope({
  itemSelector: '.grid-item',
  percentPosition: true,
  masonry: {
    columnWidth: '.grid-sizer'
  }
});
// layout Isotope after each image loads
$grid.imagesLoaded().progress( function() {
  $grid.isotope('layout');
});  

</script>

</body>
</html>