<%- include('partials/header') %>

<body>
  <header>
    <nav>
      <div class="login-button">
        <a href="/login" class="profile text-muted ">Log in</a>
      </div>
    </nav>
  </header>

  <main role="main">

    <section class="about text-center">
      <div class="container">
        <img width="200" height="200" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/49569661_2379182252154931_5434190255819325440_n.jpg?_nc_cat=103&_nc_ht=scontent-waw1-1.xx&oh=2a7a42d88a196b847b573d7dc82bea5a&oe=5D233D0C" class="img-circle" alt="Cinque Terre">
        <h3 class="profile">wobiektywiefuczyka</h3>
        <p class="profile text-muted">Something short and leading about the collection below—its contents, the creator,
          etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
      </div>
    </section>
    <hr class="separator">
    <section class="gallery">
      <div class="container">
     
          <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
            </div>
            <div class="grid-item">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
            </div>
            <div class="grid-item">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
            </div>
            <div class="grid-item">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
            </div>
            <div class="grid-item">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
            </div>
            <div class="grid-item">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
            </div>
           
            <div class="grid-item">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
            </div>
            <div class="grid-item">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
            </div>
            <div class="grid-item">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" />
              </div>
              <div class="grid-item">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
              </div>
              <div class="grid-item">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
              </div>
              <div class="grid-item">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
              </div>
              <div class="grid-item">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
              </div>
              <div class="grid-item">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
              </div>
              <div class="grid-item">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
              </div>
              <div class="grid-item">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" />
              </div>
              <div class="grid-item">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" />
              </div>
          
        </div>
      </div>
    </section>
  </main>
 
  <%- include('partials/footer') %>