<%- include('partials/header') %>

<body class="text-center">
    <div class="container">
        <div class="row">
                <form class="form-signin" action="/register" method="POST">
                        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="text" name ="username" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name ="password" id="inputPassword" class="form-control" placeholder="Password" required>
                       
                        <button type="submit" class="profile btn btn-outline-dark btn-block">Sign up</button>
                </form>

        </div>
    </div>
</body>
</html>