<%- include('partials/header') %>

<body class="text-center">
    <div class="container">
        <div class="row">
                <form class="form-signin" action="/register" method="POST">
                    <hr>
                    <h1 class="profile h3 mb-3 font-weight-normal">sign up.</h1>

                        <input type="text" name ="username" class="form-control" placeholder="username." required autofocus>
                       
                        <input type="password" name ="password" class="form-control" placeholder="password." required>
                       
                        <button  type="submit" class="profile btn btn-outline-dark btn-block">sign up</button>
                        <a href="/auth/instagram" class=" profile btn btn-outline-primary btn-block">connect with instagram</a>
                        <hr>
                        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
                </form>

        </div>
    </div>
</body>
</html>