@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat';
    font-weight: lighter;
}
.profile{
  text-align: center;
}
.img-circle{
    border-radius: 150px;
}
.login-button{
    float: right;
   
}

.login-button :hover{
    text-decoration: none;
    color: grey;
}

.about{
    margin-top:8vh;
}


  
  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- .grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }
  
  .grid-item {
    float: left;
    transition: opacity 0.5s ease-in;
  }
  
  .grid-item img {
    display: block;
    max-width: 100%;
  }
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 15vh;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .span-login{
    float: left;
  }

  .grid-item:hover{
    opacity: 0.5;
    pointer: cursor;
  }

  .img-button{

  }

  .gallery-img{
    background-size: cover;
     background-repeat:no-repeat;
     height:250px;
     width:280px;
     transition: opacity 0.5s ease-in;
  }

  .gallery-img:hover{
  opacity: 0.8;
  }

  .card-title{
    height:40px;
  }